//main colors

// $color__branding-almost-black: #03161e;
$color__branding-navy: #052332;
$color__branding-navy-transparent: rgba(3,22,30,0.875);
$color__branding-primary-orange: #f7951d;
$color__branding-primary-orange-outline: #e37222;
$color__branding-primary-orange-hover: rgba(247, 149, 29, 0.75);
$color__branding-primary-teal: #07889b;
$color__branding-primary-teal-outline: rgba(8, 144, 165, 0.877);
$color__branding-primary-teal-hover: rgba(7, 135, 155, 0.75);
$color__branding-primary-powder: #66b9bf;
$color__branding-primary-powder-outline: #64c7ce;
$color__branding-primary-powder-hover: rgba(102, 185, 191, 0.75);
$color__branding-almost-black: #03161e;
$color__branding-black: #0e0d0d;
$color__branding-box-shadow-sm: rgba(0, 0, 0, 0.25);
$color__branding-box-shadow-md: rgba(0, 0, 0, 0.5);
$color__branding-box-shadow-lg: rgba(0, 0, 0, 0.75);
$color__branding-dark-grey: #111111;
$color__branding-mid-grey: #555;
$color__branding-light-grey: #fdfffd;
$color__branding-white: #fff;