.pre-footer-callout-section {
  padding: 50px 0 75px 0;

  @media screen and (min-width: 800px) {
    padding: 50px 0;
  }
}

.pre-footer-callout-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;

  h3 {
    font-size: 1.875em;
    padding: 10px 15px;

    @media screen and (min-width: 800px) {
      font-size: 2.2em;
    }
  }

  @media screen and (min-width: 800px) {
    text-align: left;
    flex-direction: row;
  }
}